<body class="order-body">

  <br>
  <br>
  <br>

  <div class="row orders-overview">
    <% @orders.each do |order| %>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 orders-frame">
        <section class="orders-details">

          <br>

          <h1 id="orders-numbers">
            Shipment # <%= order.id %>:</h1>
          <p><%= link_to order.product.name, product_path(order.product), id: "orders-names" %></p>
          <!-- <p id="orders-timestamps"><#%= order.product.description %></p> -->
          <hr class="hr-orders">
          <!-- <div id="orders-text"> -->
          <p id="orders-prints"><span class="orders-headings">Prints</span> <%= order.quantity %></p>
          <p id="orders-prices"><span class="orders-headings">Total $</span><%= order.total %></p>
          <p id="orders-timestamps"><span class="orders-headings">Timestamp</span><%= order.created_at.getlocal.strftime("%e-%m-%y %H:%M") %></p>
          <!-- </div> -->

        </section>
      </div><!-- /col -->
    <% end %>
  </div>

</body>
