<body class="blowup-body">

<br>
<br>

<!-- <p id="notice"><#%= notice %></p> -->

<br>
<br>

<!-- <#% logger.debug "This product is up" %> -->
<section class="blowup-background" data-product-id="<%= @product.id %>">

<!-- <#% cache @product do %> -->
<%= render 'blowup' %>
<!-- <#% end %> -->

</section>

<br>
<br>
<br>
<div class="alert alert-info alert-warning" style="display:none" role="alert">A new review is in the mix</div>

<br></br>
<br></br>

<%= render 'new_comment' %>

<%= render 'comments' %>

<br>
<br>
<br>
<br>
<br>
<div class="pages-frame">
  <%= will_paginate @comments, :previous_label => '←', :next_label => '→' %>
</div>

<br>
<br>

<div class="links-combo">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product), :class => "links-show" %>
  <% end %>
  <%= link_to 'Home', products_path, :class => "links-show" %>
</div>

</body>
